body {
    font-family: arial, times, serif;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/e2/30/f5/e230f59a5922574a0731061323b3a41d.jpg");
}
.container {
    background-color: antiquewhite;
    padding: 20px;
}

img {
    width:500px;
    height:300px;
}

#about {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#black {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; 
}
#characters {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#map {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
